.main{
  width:100%;
  height:100%;
  position:relative;
  overflow: hidden;
}
:host /deep/ .carouselHeader{
  display:block;
  z-index: 2;
  width:100%;
  position:absolute;
  bottom:6%;
  text-align: center;
  color:white;
}
.pre,.next{
  z-index: 10;
  text-shadow: 0 0 10px white,0 -3px 10px white;
  position:absolute;
  height:100%;
  display: flex;
  align-items: center;
}
.btn:hover{
  cursor: pointer;
}
.showMsn{
  border-radius:1rem;
  text-align: center;
  color:white;
  font-size:1.5rem;
}

nav{
  position:absolute;
  z-index: 11;
  bottom:2%;
  width:100%;
  display: flex;
  justify-content: center;
}
nav>div{
  width:5%;
  padding-left:1%;
  height:10px;
}
.navItem{
  display:block;
  width:100%;
  height:2px;
  background:rgba(255,255,255,0.4);
  transition:box-shadow 1s,background 1s;
}
nav>div:hover{
  cursor:pointer;
}
.selectedImg{
  box-shadow:0px 0px 10px white,0 -3px 10px white;
  background: white;
}
.pre{
  left:0px;
  background:linear-gradient(left,rgba(0,0,0,0.3),rgba(0,0,0,0))
}
.next{
  right:0px;
  background:linear-gradient(right,rgba(0,0,0,0.3),rgba(0,0,0,0))
}
:host{
  width:100%;
  heigth:100%;
}
